.card-div {
    width:900px;
    border:1px solid black;
    position:relative;
    float:left;
    margin:30px;
    left:15%;
    height:300px;
}

.card-frame {
    margin:1px;
    width:400px;
    float:left;
    padding:20px;
    border:1px solid red;
    height:200px;
}

.card-textarea {
    width:350px;
    height:180px;
    resize:none;
}

.preview-card {
    width:900px;
    border:1px solid blue;
    position:relative;
    float:left;
    margin:30px;
    left:15%;
    height:300px;
}