.deck-form-div {
    width:350px;
    border:1px solid black;
    position:relative;
    float:left;
    left:35%;
    margin-top:10%;
    padding:15px;
}

.deck-field {
    width:250px;
    height:30px;
    margin-left:35px;
}

#submit-deck {
    background-color:orange;
    font-size:18px;
}

#submit-deck:hover {
    background-color:cyan;
}