* {
    padding:0px;
    margin:0px;
}

ul {
    list-style-type:none;
}

.top-bar {
    border-bottom:2px solid red;
    padding-top:5px;
    width:100%;
    float:left
}

.info-span a {
    margin-left:5px;
}

.info-span h3 {
    width:150px;
    float:left;
}

#logout-button {
    color:blue;
    float:left;
    background-color:none;
    border:none;
    font-size:17px;
}

#logout-button:hover {
    color:green;
}

.deck-list {
    float:left;
    position:relative;
    width:150px;
    padding:15px;
    margin:15px;
    border:1px solid black;
}

.deck-title {
    text-align:left;
}

.option-panel {
    float:left;
    position:relative;
    width:550px;
    margin:10px;
    padding:5px;
    border:1px solid black;
}

.panel-button {
    float:left;
    width:100px;
    height:40px;
    padding:5px;
    border-right:1px solid grey;
}

.panel-button:hover {
    background:silver;
}

.panel-button a {
    font-size:16px;
}

.notify {
    float:left;
    border:1px solid blue;
    margin:10px;
}

.tag-span {
    padding:5px;
    width:100%;
    float:left;
}

.one-tag {
    background-color:#FCFCF;
    margin-right:3px;
    font-size:13px;
    float:left;
}

.one-tag:hover {
    background:yellow;
}

.card-area {
    width:910px;
    min-width:546px;
    min-height:224px;
    border:1px solid black;
    float:left;
}

.card-tiny {
    width:180px;
    height:110px;
    float:left;
    position:relative;
    border:1px solid black;
}

.card-tiny:hover {
    background-color:yellow;
}

.card-tiny h4 {
    text-align:center;
    padding-top:15px;
    font-size:25px;
}

.card-tiny p {
    text-align:center;
    font-size:15px;
}

.card-tiny-button {
    border:1px solid red;
    float:left;
}

.card-tiny-button:hover {
    background-color:cyan;
}

.card-button-group {
    position:absolute;
    right:1%;
    bottom:1%;
}

.deck-button-group {
    position:absolute;
    right:5%;
}

.deck-tiny-button {
    border:1px solid green;
    float:left;
}

.deck-tiny-button:hover {
    background-color:pink;
}

.link-submit {
    background:none;
    border:none;
    padding:0px;
    font-size:15px;
    color:green;
}

.link-submit:hover {
    color:blue;
}

.pop-up-div {
    display:none;
    position:fixed;
    top:10%;
    left:10%;
    z-index:2;
    background-color:white;
    border:5px solid green;
}

.shade {
    display:none;
    position:fixed;
    width:100%;
    height:100%;
    top:0%;
    left:0%;
    background-color:black;
    opacity:0.7;
    z-index:1;
}

.close-pop-up-button {
    position:absolute;
    right:0%;
    top:0%;
    background:orange;
    color:black;
}

/* Copied and modified from card.css  */
.card-div {
    width:900px;
    border:1px solid black;
    position:relative;
    float:left;
    margin:30px;
    height:300px;
}

.card-frame {
    margin:1px;
    width:400px;
    float:left;
    padding:20px;
    border:1px solid red;
    height:200px;
}

.card-textarea {
    width:350px;
    height:180px;
    resize:none;
}

/* related to card flipping */
.change-card-link {
    float:left;
    width:40px;
    padding:4px;
    margin-right:10px;
    background-color:yellow;
    color:black;
}

#flip-card-area-wrapper {
    width:760px;
    height:400px;
    left:25%;
}

#flip-card-area {
    width:90%;
    height:90%;
    position:absolute;
    left:5%;
    top:5%;
}

.card-zoom {
    position:absolute;
    top:10%;
    left:10%;
    border:1px solid black;
    background-color:white;
    width:80%;
    height:70%;
}

.card-front-zoom {
    width:100%;
    height:100%;
    text-align:center;
}

.card-front-zoom h3 {
    font-size:64px; /* need automatic adjustment */
    margin-top:10%;
}

.card-back-zoom {
    display:none;
}

.flip-link {
    position:absolute;
    left:0%;
    top::0%;
    background-color:cyan;
}