* {
    padding:0px;
    margin:0px;
}

ul {
    list-style-type:none;
}

.top-bar {
    border-bottom:2px solid red;
    padding-top:5px;
    width:100%;
    float:left
}

.info-span a {
    margin-left:5px;
}

.info-span h3 {
    width:150px;
    float:left;
}

#logout-button {
    color:blue;
    float:left;
    background-color:none;
    border:none;
    font-size:17px;
}

#logout-button:hover {
    color:green;
}

.deck-list {
    float:left;
    position:relative;
    width:150px;
    padding:15px;
    margin:15px;
    border:1px solid black;
}

.deck-title {
    text-align:left;
}

.option-panel {
    float:left;
    position:relative;
    width:550px;
    margin:10px;
    padding:5px;
    border:1px solid black;
}

.panel-button {
    float:left;
    width:100px;
    height:40px;
    padding:5px;
    border-right:1px solid grey;
}

.panel-button:hover {
    background:silver;
}

.panel-button a {
    font-size:16px;
}

.notify {
    float:left;
    border:1px solid blue;
    margin:10px;
}

.tag-span {
    padding:5px;
    width:100%;
    float:left;
}

.one-tag {
    background-color:#FCFCF;
    margin-right:3px;
    font-size:13px;
    float:left;
}

.one-tag:hover {
    background:yellow;
}

.card-area {
    width:900px;
    min-width:500px;
    min-height:300px;
    border:1px solid black;
    float:left;
}

.card-tiny {
    width:150px;
    height:90px;
    float:left;
    border:1px solid black;
}

.card-tiny:hover {
    background-color:yellow;
}

.link-submit {
    background:none;
    border:none;
    padding:0px;
    font-size:15px;
    color:green;
}

.link-submit:hover {
    color:blue;
}