* {
    margin:0px;
    padding:0px;
}

body {
    /* Currently, let's just use one type of font*/
    font-family: 'Vollkorn', serif;
}

a {
    text-decoration:none;
    color:blue;
}

a:hover {
    color:purple;
}

.top-bar {
    border-bottom:2px solid red;
    padding-top:5px;
    width:100%;
    position:relative;
    top:0%;
    left:0%;
    height:23px;
}

.info-span {
    position:absolute;
    left:0%;
}

.info-span a {
    margin-left:5px;
    margin-right:15px;
    float:left;
}

.info-span h3 {
    width:150px;
    float:left;
}

#logout-button {
    color:blue;
    background-color:none;
    border:none;
    font-size:17px;
    position:absolute;
    right:3%;
    top:0%;
}

#logout-button:hover {
    color:green;
}
